@{
    ViewData["Title"] = "About Us";
}

<section data-bs-version="5.1" class="header" id="header">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(237, 245, 225) !important;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1" style="color: #c8daeb; margin-left: 12%; margin-top: -10%;"><strong>TrustGuard</strong></h1><br />
                        <p class="mbr-text mbr-fonts-style display-7">
                            <strong style="color: #b4c7ff; margin-left: 10%;">
                                This is authentication and authorization Web portal,<br /> that protect the access of user account at resources.
                            </strong>
                        </p>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <strong style="color: #b4c7ff; margin-left: 12%;">
                                Application provides only standard portal features, you can use this to create secure containers for your Web, Desktop, Mobile and Gaming apps.
                            </strong>
                        </p><br />
                        <div class="mbr-section-btn mt-3" style="margin-left: 35%;">
                            <a class="btn btn-primary display-4" href="/Account/">Log in</a>
                            <a class="btn btn-secondary display-4" style="margin-left: 1%;" href="#more">More</a>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<section data-bs-version="5.1">
    <div class="container" style="background-color: #657b9f;">
        <br />
        <p id="usage">It can be used for these platforms</p><br />
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td style="display: flex;justify-content: space-evenly;">
                        <i class="fa fa-globe" title="Web Apps" aria-hidden="true"></i>
                        <i class="fa fa-desktop" title="Desktop Apps" aria-hidden="true"></i>
                        <i class="fa fa-mobile" title="Mobile Apps" aria-hidden="true"></i>
                        <i class="fa fa-solid fa-gamepad" title="Game Apps"></i>
                    </td>
                </tr>
            </tbody>
        </table><br />
    </div>
</section>
<section data-bs-version="5.1" class="more" id="more">
    <div class="container">
        <div class="alert alert-info" style="background-color: #bec7e7 !important;" role="alert">
            <h4 class="alert-heading">About me</h4>
            <p>Application provides only standard portal features, you can use this to create secure containers for your Web, Desktop, Mobile and Gaming apps. <br />In general, Web portals are online platforms that serve as gateways or entry points to a variety of information, services, and resources on the internet. <br />They are designed to provide a centralized hub where users can access and interact with multiple applications, tools, and content from different sources.<br />Thus, portal manages of the user accounts access to these containers.</p>
            <hr>
            <p class="mb-0">Overall, web portals serve as comprehensive platforms that provide users with centralized access to information, services, and tools. <br />They aim to simplify and streamline users' online experiences by bringing together diverse resources in one place.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
            </div>
        </div>
    </div>
</section>

