html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#rights {
    text-decoration: none;
    margin-left: 50%;
    color: #73b3e1;
    font-weight: bold;
}