html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(135deg, #657b9f, #ffd3d3);
}

header, footer {
    background-color: #657b9f;
}

.nav-link {
    color: #ffd3d3 !important;
}

    .nav-link:hover {
        color: #d7abab !important;
    }

.navbar-brand {
    color: #cfebe7 !important;
}

    .navbar-brand:hover {
        color: white !important;
    }

#rights {
    text-decoration: none;
    margin-left: 50%;
    color: #ffd3d3;
    font-weight: bold;
}

.more {
    padding-top: 4rem;
    padding-bottom: 12rem;
}

.header {
    padding-top: 15rem;
    padding-bottom: 12rem;
    background-color: #ffffff;
    background-image: url(../images/landing.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    word-wrap: break-word;
}

#usage {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.fa-desktop, .fa-mobile, .fa-gamepad, .fa-globe {
    color: #ccdae7;
    font-size: 56px;
}

    .fa-gamepad:hover {
        color: #a4b2bf;
    }

    .fa-desktop:hover {
        color: #a4b2bf;
    }

    .fa-mobile:hover {
        color: #a4b2bf;
    }

    .fa-globe:hover {
        color: #a4b2bf;
    }

    .alert-danger {
        color: #7f4c50 !important;
        background-color: #d7d7d7 !important;
    }

.note-editable {
    height: 200px;
}

#appType {
    margin-top: 1%;
}

#noRights {
    width: 80%;
    margin-left: 10%;
    background-color: #d7d7d7;
    border: 1px solid #8550b5;
    margin-top: 20%;
}

.alert-link {
    color: #548785;
    text-decoration: none;
}

.alert-link:hover {
    color: #2c5f5d;
}

.alert-heading {
    color: #6f758b;
}

#appField {
    background-color: #edf5e1;
    color: #05386b;
}

#dismiss {
    margin-left: 1%;
    width: 98%;
    height: 50px;
    background-color: #aebed9;
}

#deny:hover {
    color: #ed6863;
    font-size: 18px;
}

#appBox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.list-group {
    margin-left: 30%;
}

.list-group-item {
    border: none;
    color: #494963;
    background-color: #b0b3d5 !important;
}

#appName {
    display: flex;
}

#title {
    color: #534646;
    margin-top: 3%;
    margin-left: 5%;
}